body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  overflow-x: hidden;
}
/***********************/
/* Root variables */
/***********************/

:root{


  --maincolor: #b3a29a;
  --sectioncolor: #eae5e1;
  --tintcolor: #b3a29a;
  --accentcolor: #2e1b11;
  --transparentcolor: rgba(46, 27, 17, 0.80);
  --shade: #eae5e1;    
  --fs: 62.5%;   /*font size of html*/
  --bold: 700;
  --semibold: 600;
  --normalfont: 400;
  --medimfont: 500; 
  --ff: 'Ubuntu', sans-serif;

  --rich-black-fogra-29: #121a1eff;
  --gray-web: #858a8cff;
  --cultured: #f7fafaff;
  --silver-sand: #bfcdd0ff;
  --pewter-blue: #869fa6ff;
  --alice-blue: #e2eaeeff;
  --spanish-gray: #879094ff;
  --cadet: #596367ff;
  --gunmetal: #2b363aff;

}


.main-container{
  max-width: 1200px;
  height: 70vh;
  margin: 0 auto;
}

.footer-container{
  max-width: 1200px;
  height: 30vh;
  margin: 0 auto;
}

html{
  overflow-x: hidden;
}

